@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <p class="lead" style="color:red">Healthy Children, Happy Nation Foundation</p>
    
</div>

<h2>Use Case 1.2 </h2>
<img src="/UseCase1.png" style="width:50%" />
<br />
<br />
<br />
<h2>Use Case 2.1 </h2>
<img src="/UseCase2.png"style="width:50%" />
<br />
<br />
<br />
<h2>Use Case 3.2 </h2>
<img src="/UseCase3.png" style="width:50%">
<br />
<br />
<br />
<h2>Use Case 4.3 </h2>
<img src="/UseCase4.png" style="width:50%" />
<br />
<br />
<br />
<h2>Class Diagram</h2>
<img src="/ClassDiagram.png" style="width:50%" />


